/*Sources:
https://www.youtube.com/watch?v=zBR9qBBM9KA&t=216s
https://css-tricks.com/things-ive-learned-css-grid-layout/
https://www.linkedin.com/pulse/how-send-people-directly-sections-your-linkedin-stephan-hovnanian/
https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images
https://www.w3schools.com/cssref/sel_target.asp
https://fontawesome.com/how-to-use/on-the-web/setup/hosting-font-awesome-yourself
https://www.webdesignerdepot.com/2013/01/how-to-use-any-font-you-like-with-css3/
https://www.sitepoint.com/pure-css3-paper-curls/
*/

:root {
    --body-font: 'Lato', sans-serif; 
    --main-cool-colour: #41d6d1;    /* AA and AAA scores */
    --main-warm-colour: #fb9997;    /* AA and AAA scores */
    --deeper-cool-colour: #005b85;
    --deeper-warm-colour: #ef735e;  /*Persimmon*/
    --body-font-colour: #282825;    /* AA and AAA scores */
    }

@font-face {
    font-family: 'Lato';
    src: 
        local('Lato'),
        url('/Assets/local_fonts/Lato-Regular.ttf')
        format('truetype');
    }
    
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato'),
        url('/Assets/local_fonts/Lato-SemiBold.ttf')
        format('truetype');
    }

    @font-face {
        font-family: 'Lato';
        src: 
            local('Lato'),
            url('/Assets/local_fonts/Lato-Medium.ttf')
            format('truetype');
        }

    @font-face {
        font-family: 'EncodeSansSemiCondensed';
        src: 
            local('EncodeSansSemiCondensed'),
            url('/Assets/local_fonts/EncodeSansSemiCondensed-Medium.ttf')
            format('truetype');
    }


    /* Box-shadow syntax: offset-x | offset-y | blur-radius | spread-radius | color. Separate multiple box-shadows with a comma */

body {
    background-color: #717171;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr  1fr 1fr 1fr auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    border-style: solid none solid none;
    border-width: 0.25rem;
    border-color: #717171;
    }

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* height: 8vh; */
    background-color: var(--main-warm-colour, lightcoral);
}

header > h1 {
    color: #E7E7E7;
    font-family: var(--body-font, Arial, Helvetica, sans-serif);
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    /* text-shadow: 0px 0.01rem #52737c; */
}

/* CV SECTIONS AS SINGLE PAGES */

/* SECTION PAGE CONTAINER */

.cv-section {
    position: relative;
    background-color: seashell;
    width: 24rem;
    height: 32rem;
    margin: 30px;
    -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.6);
}

/* FLIP-PAGE EFFECT */

.cv-section::before, .cv-section::after{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
    bottom: 12px;
 	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	z-index: -1;
} 

.cv-section::after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

#cv-content {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 1rem;
    margin-left: 25px;
    z-index: -1;
}

.cv-content-link {
    color: var(--body-font-colour, black);
}

.cv-content-link:hover {
    color: var(--deeper-warm-colour, salmon);
    font-weight: bold;
}

.cv-section-content {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    height: 90%;
    padding: 0 35px 0 35px;
}

.cv-section-span {
    font-family: var(--body-font);
    font-size: 1.1rem;
}

.cv-section-span > h3 {
    color: #28201c;
}

.cv-section-span > a {
    color: var(--deeper-cool-colour, darkturquoise);
}
.cv-section-span > a:hover {
    color: var(--deeper-warm-colour, salmon);
    font-weight: bold;
    }

#FAC-span {
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(252, 146, 157);
}

.read-more {
    width: 16rem;
    text-align: center;
    font-family: 'EncodeSansSemiCondensed', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: #E9F9F9;
    margin: auto auto 8px auto;
    padding: 4px;
    border-radius: 2px;
}

.read-more > a {
    color: var(--body-font-colour, black);
}

.read-more:hover {
    font-size: 1.2rem;
}

.read-more-inner {
    color: #045C91;
}

.read-more-inner:hover {
    color: #cd363c;
    font-size: 1.2rem;
}

/* IMAGES & ICONS */

#envelope {
    width: 124px;
    height: auto;
    margin: 0 auto;
}

/* HEADINGS */

h1 {
    font-family: var(--body-font, Arial, Helvetica, sans-serif);
    color: var(--body-font-colour, black);
    font-weight: 500;
}

h1, #cv-name {
    text-align: center;
    font-weight: 500;
}

h2 {
    font-family: var(--body-font, Arial, Helvetica, sans-serif);
    color: var(--body-font-colour, black);
    font-weight: 500;
}

h3 {
    font-family: var(--body-font, Arial, Helvetica, sans-serif);
    color: var(--body-font-colour, black);
    margin-bottom: 4px;
    font-weight: 500;
   }

h3 > a {
    color: var(--deeper-cool-colour, darkturquoise);
}

h3 > a:hover {
    color: var(--deeper-warm-colour, salmon);
}


/* LISTS */
ul {
    margin-top: 4px;
    margin-left: -25px;
}

/* SINGLE PAGES */
.section-h2 {
    text-align:center;
    margin-bottom: 0;
    padding: 2px;
}

#h2-education {
    margin-top: 0;
    background-color: var(--main-warm-colour, lightcoral);
}

#education {
    grid-column: 3;
    grid-row: 5;
    justify-self: center;
    background-color: seashell;
}

#h2-skills {
    background-color: var(--main-cool-colour, turquoise);
    margin-top: 0;
}

#skills {
    grid-column: 3;
    grid-row: 6;
    justify-self: center;
    background-color: seashell;
}

#h2-interests {
    background-color: var(--main-warm-colour, lightcoral);
    margin-top: 0;
}

#interests{
    grid-column: 4;
    grid-row: 6;
    justify-self: center;
    background-color: seashell;
}

#interests li a {
    color: var(--deeper-cool-colour, darkturquoise);
}

#interests li a:hover {
    color: var(--deeper-warm-colour, salmon);
    font-weight: bold;
}

#h2-work-experience {
    background-color: var(--main-cool-colour, turquoise);
    margin-top: 0;
}

#work-experience {
    grid-column: 4;
    grid-row: 5;
    justify-self: center;
    background-color: seashell;
}

#h2-contact {
    background-color: var(--main-cool-colour, turquoise);
    margin-top: 0;
}

#contact-me {
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: center;
    grid-row: 7;
    background-color: seashell;
}

#contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    padding: 0 20px 0 20px;
}

#contact-span {
    margin: 64px auto;
    font-family: var(--body-font, Arial, Helvetica, sans-serif);
    font-weight: 500;
    color: #1e272c;
    font-size: 1.25rem;
}

#contact-span > a {
    color: var(--deeper-cool-colour, darkturquoise); 
}

#contact-span > a:hover {
    color:#c74444;
    background-color: #E9F9F9;
    border-radius: 2px;
    border: #d0ffde solid 1px;
    padding: 6px 18px;
    font-size: 1.4rem;
    }

footer {
    grid-column: 1 / -1;
    background-color: var(--main-warm-colour, lightcoral);
    grid-row: 9 / 10;
    padding: 20px;
    text-align: center;
    font-family: var(--body-font, Arial, Helvetica, sans-serif);
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--body-font-colour, black);
}

/* ------- 3D BOOK - LARGE SCREENS ------- */
#page-container {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    position: relative;
    margin: 2rem auto 4rem auto;
    }

.page {
    top: 50%;
    background-color: seashell;
    width: 24rem;
    height: 32rem;
    transform: perspective(2000px);
    transform-style: preserve-3d;
    /* -webkit-transition: width 1.2s, transform 1.2s;
    transition: width 1.2s transform 1.2s; */
    box-shadow: inset 24rem 0 4rem rgba(0, 0, 0, 0.2), 0 2rem  2rem rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

/*Cast light across page 
Add depth to bottom side*/

.page::before {
    position: absolute;
    width: 100%;
    height: 0.3rem;
    bottom: -0.3rem;
    left: 0;
    content: '';
    transform-origin: top;
    transform: skewX(45deg);
    background-color: rgb(147, 161, 172);
}

/*Add depth to right side*/
.page::after {
    position: absolute;
    height: 100%;
    width: 0.3rem;
    top: 0;
    right: -0.3rem;
    content: '';
    transform-origin: left;
    transform: skewY(45deg);
    background-color: rgb(185, 197, 206);
}

.img-container {
    height: 100%;
    width: 100%;
    /* transform-origin: left;
    -webkit-transition: 1.2s;
    transition: width 1.2s, transform 1.2s; */
    z-index: 1;
}

img {
    height: 32rem;
    width: 24rem;
}
/* Box-shadow syntax: offset-x | offset-y | blur-radius | spread-radius | color. Separate multiple box-shadows with a comma */
.page:hover {
    box-shadow: inset 2rem 0 4rem rgba(0, 0, 0, 0.25), 0 1rem  7rem rgba(0, 0, 0, 0.25);
}

.page:hover #img-container {
    transform-origin: left;
    transform: rotateY(-135deg);
    -webkit-transition: width 1s;
    transition: width 1s, transform 1s;
}

.cv-icons {
    width: 24px;
    height: auto;
}

#contents-prompt {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(223, 51, 79);
    text-align: center;
    margin-bottom: 30px;
}

a, a:visited {
    text-decoration: none;
    cursor: pointer;
}

#cv-pdf-link {
    color: var(--body-font-colour, black);
}

#cv-pdf-link:hover {
    color: var(--deeper-warm-colour, salmon);
}

/*-----------MODAL - ACCESSIBLE & RESPONSIVE -----------*/

#modal-container {
    position: absolute;
    width: 95vw;
    margin: 0 auto;
    padding: 8px;
    font-family: var(--body-font);
}

#modal-button {
    display: block;
    background-color: var(--main-warm-colour, lightcoral);
    color: var(--body-font-colour, black);
    width: 7rem;
    height: 7rem;
    border: 0;
    border-radius: 50%;
    margin: 8px;
    transition: background 0.5s ease-in;
    font-size: 1.2rem;
}

#modal-overlay {
    height: 0;
    width: 0;
    padding: 24px;
    opacity: 0;
    overflow: hidden;
    /* In original: 
    transition: opacity 0.5s ease-in;
    But this caused X to fade out rather than disappear
    */
}

#modal-toggle {
    position: absolute;
    left: -999px;           /*In original example set to 0, but this prevented book animation*/
    top: 0;
    height: 15vh;
    width: 95vw;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

#modal-button:hover {
    background-color: #85E5E1;
    cursor: pointer;
}

#modal-toggle:checked {
    width: 95vw;
    height: 95vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    opacity: 0;
    cursor: default;
    pointer-events: none;
   }

#modal-toggle:checked ~ #modal-overlay {
    display: flex;
    background-color: var(--main-cool-colour, turquoise);
    width: 95vw;
    height: 95vh;
    position: fixed;
    left: 1vw;
    top: 1vh;
    margin: 0 auto;
    padding: 1rem;
    opacity: 1;
    z-index: 9;
    }

#modal-toggle:checked ~ #modal-overlay #modal-content {
    /* position: absolute; */
    background-color: var(--lighter-cool-colour);
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    border-radius: 2px;
    z-index: 900;
}

#modal-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    font-family: var(--body-font, Arial, Helvetica, sans-serif);
}

#modal-content > h2 {
    align-self: center;
}

#modal-content > p {
    font-size: 1.3rem;
}

#close-modal {
    align-self: flex-end;
    padding: 0.1rem 0.6rem;
    font-size: 2rem;
    border: 1px solid #717171;
    border-radius: 50%;
    cursor: pointer;
}


/*------------------ MOBILE SCREENS -------------------
-------------------------------------------------------*/

@media screen and (max-width: 500px) {
    
    body {
        grid-template-columns: 1fr;
    }

    header {
        height: 5vh;
    }

    header > h1 {
        display: none;
    }

    .cv-icons {
        width: 20px;
        height: auto;
    }

    .cv-section {
        width: 20rem;
        height: 27rem;
        margin: 30px auto;
    }
    .cv-section-content {
        padding: 0 30px;
    }
    
    .cv-section-span {
        font-size: 0.9rem;
    }

    .contact-span {
        font-size: 0.6rem;
    }

    .read-more {
        width: 14rem;
        text-align: center;
        font-family: 'EncodeSansSemiCondensed', sans-serif;
        font-size: 1rem;
        margin: 8px auto 0 auto;
    }

    #skills {
        grid-column: 1;
        grid-row: 5;
    }
    #education {
        grid-column: 1;
        grid-row: 6;
    }
    #work-experience {
        grid-column: 1;
        grid-row: 7;
    }

    #interests {
        grid-column: 1;
        grid-row: 8;
    }

    #contact-me {
        grid-column: 1;
        grid-row: 9;
    }

    ul{
        font-size: 0.9rem;
    }

    footer {
        grid-row: 11;
    }

/* ////////////---- 3D BOOK- MOBILE SCREENS ----///////////// */

#page-container {
        grid-column: 1;
        margin: 5rem auto 2rem auto;
}   

.page {
    width: 20rem;
    height: 27rem;
    transform: perspective(2000px);
    box-shadow: inset 20rem 0 4rem -23rem rgba(0, 0, 0, 0.25), 0 2rem  4rem rgba(0, 0, 0, 0.25);
    /* box-shadow: inset 20rem 0 4rem rgba(0, 0, 0, 0.4), 0 2rem  4rem rgba(0, 0, 0, 0.4); */
   }

.img-container {
    transform-origin: left;
    -webkit-transition: 1.2s;
    transition: width 1.2s, transform 1.2s;
}

img {
    height: 27rem;
    width: 20rem;
 }

.page:focus #img-container {
    transform-origin: left;
    transform: rotateX(145deg);
    -webkit-transition: width 1.2s;
    transition: width 1.2s, transform 1.2s;
}

.page:focus {
    box-shadow: inset 2rem 0 4rem rgba(0, 0, 0, 0.25), 0 1rem  7rem rgba(0, 0, 0, 0.25);
}

/*----REPLACE PAGE-FLIP WITH SCALE-TO-INVISIBILITY EFFECT TO PRESERVE CLICKABLE LINKS----*/
.page:hover #img-container {
    -webkit-transform: scale(0.001, 0.001);
    transform: scale(0.001, 0.001);
    -webkit-transition: transform 1.2s;
    transition: transform 1.2s;
}


h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 0.95rem;
}

a:active {
    color: #7700cf;
}

.read-more > a {
    color: var(--body-font-colour, black);
}

.read-more {
    margin: auto auto 8px auto;
}

#modal-toggle {
    left: 0;
    height: 15vh;
    cursor: pointer;
}

#modal-button {
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    margin: 2.5rem 1rem;
}

}
